@import "tailwindcss";

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1 var(--delay, 0ms);
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes cell-ripple {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

/* ========================= */
/*    SWIPER DOTS STYLING    */
/* ========================= */
.swiper-pagination {
  
  bottom: 10px !important;  /* outside swiper */
  
  
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5) !important;
  width: 30px !important;
  height: 10px !important;
  margin: 0 6px !important;
  border-radius: 0px !important;
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #CFFF55 !important;
  width: 90px !important;
  
}
body {
  font-family: var(--font-chakra);
}



